
#navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  padding-top: 50px;


  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding: 1.7rem;

  background: linear-gradient(90deg, #4f1d4c, #781d4f, #4f1d4c);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  padding-top: 50px;
}

#title{
  font-family: 'streamer', Helvetica, sans-serif;
  font-size: 3.7em !important;
  color: goldenrod;
  text-shadow: 2px 2px #000000;
  position: absolute;
  top: -1px;
  margin-top: 0;
  z-index: 1;
 
}

#navbar img {
 
  filter: invert(98%) sepia(2%) saturate(1866%) hue-rotate(35deg) brightness(101%) contrast(102%);
  margin-right: 10px;
  margin-top: -10px;
}
#navbar-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2em;
  
  justify-content: center;
  align-items: center;
}
#navbar-link {
 font-family: 'byte';
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  margin-bottom: 0.5rem;
}
.search-bar-container {
margin-top: 1.5px;
}
.search-bar-container {
  width: 100%;
  border-radius: 10px;
  padding: 0 10px;
  box-shadow: 0 0 8px #ddd;
  display: flex;
  align-items: center;
  border:none;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 940px) {
  #navbar img {
    scale: 0.75;
  }

  #navbar-link {
    font-size: 1.75em;
  }
}
@media (max-width: 650px) {
  #navbar-links {
    max-width: 200px;
    transition-property: max-width;
    transition-duration: 0.2s;
  }
}




@font-face {
  font-family: 'byte';
  src: url('../../fonts/UglyByteFreeTrial-K7EBZ.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'streamer';
  src: url('../../fonts/StreamerDemo-eZ4Dg.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
